<link href="/custom/addProduct.css" rel="stylesheet" />

<form id="updateProductForm" class="form-horizontal container" style="max-width: 600px">
  <fieldset>

    <!-- Form Name -->
    <legend>Update product</legend>
    <!-- Text input-->
    <input id="product_id" name="id" placeholder="ID" class="form-control input-md" type="hidden"
      value="{{product._id}}" readonly>


    <label class="col-md-4 control-label" for="product_name" id="message-error" style="color: red;"></label>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_name">Product name</label>
      <div>
        <input id="product_name" name="name" placeholder="Name" class="form-control input-md" type="text"
          value="{{product.title}}">
        <div class="col-md-4 control-label errorMessage" id="nameError"></div>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_price">Product price</label>
      <div>
        <input id="product_price" name="price" placeholder="Price" class="form-control input-md" type="number"
          min="0" value="{{product.price}}">
        <div class="col-md-4 control-label errorMessage" id="priceError"></div>

      </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_stock">In stock</label>
      <div>
        <input id="product_stock" name="inStock" placeholder="In stock" class="form-control input-md"
          type="number" min="0" value="{{product.inStock}}">
        <div class="col-md-4 control-label errorMessage" id="stockError"></div>

      </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_summary">Product summary</label>
      <div>
        <input id="product_summary" name="summary" placeholder="Summary" class="form-control input-md"
          type="text" value="{{product.summary}}">
        <div class="col-md-4 control-label errorMessage" id="summaryError"></div>

      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_description">Product description</label>
      <div>
        <input id="product_description" name="description" placeholder="Description" class="form-control input-md"
          type="text" value="{{product.description}}">
        <div class="col-md-4 control-label errorMessage" id="descriptionError"></div>

      </div>
    </div>

    <label class="col-md-4 control-label">Category</label>
    <div class="form-check">
      <input class="form-check-input" name="category" type="checkbox" value="man" {{#ifIn "man"
        product.category}}{{/ifIn}} />
      <label class="form-check-label">
        Man
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="category" type="checkbox" value="woman" {{#ifIn "woman"
        product.category}}{{/ifIn}} />
      <label class="form-check-label">
        Woman
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="category" type="checkbox" value="bag" {{#ifIn "bag"
        product.category}}{{/ifIn}} />
      <label class="form-check-label">
        Bag
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="category" type="checkbox" value="shoes" {{#ifIn "shoes"
        product.category}}{{/ifIn}} />
      <label class="form-check-label">
        Shoes
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="category" type="checkbox" value="watch" {{#ifIn "watch"
        product.category}}{{/ifIn}} />
      <label class="form-check-label">
        Watch
      </label>
    </div>
    <div class="col-md-4 control-label errorMessage" id="categoryError"></div>

    <!-- File Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="thumbnail">Thumbnail</label>
      <div>
        <input id="thumbnail" name="thumbnail" class="input-file" type="file">
      </div>
      <img style={display: "none" ;} id="avatarPreview"></img>
      <div class="col-md-4 control-label errorMessage" id="avatarError"></div>
    </div>
    <!-- File Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="image">Images list</label>
      <div>
        <input id="image" name="filebutton" class="input-file" type="file">
        <div class="col-md-4 control-label errorMessage" id="imageError"></div>

      </div>
      <div id="imagePreview"></div>

    </div>

    <!-- Button -->
    <div class="form-group">
      <button class="btn btn-primary" style="display: flex; align-items: center">
        <div class="spinner-border" role="status" style="margin-right: 24px;">
          <span class="sr-only">Loading...</span>
        </div>Update
      </button>
    </div>

  </fieldset>
</form>

<script src="/utils/handleUpdateProductForm.js"></script>